<div *ngIf="person" style="text-align: center">

  <p>Editar la informacion de una persona</p>


  <label>Nombre</label>
  <input type="text" [value]="person.firstName" [formControl]="nameControl">
  <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" style="color: red">
    <span *ngIf="nameControl.errors?.['required']">
      Este campo es requerido
    </span>
  </div>
  <br>

  <label>Apellido</label>
  <input type="text" [(ngModel)]="person.lastName">
  <br>

  <label>Edad</label>
  <input type="number" [(ngModel)]="person.age">
  <br>
</div>
