<div *ngIf="person" style="text-align: center">

  <p>Editar la informacion de una persona</p>

  <form [formGroup]="personForm" (ngSubmit)="saveData()" style="display: flex; flex-direction: column">
    <label>
      Nombre
      <input type="text" formControlName="name">

      <div *ngIf="personForm.controls.name.invalid && (personForm.controls.name.dirty || personForm.controls.name.touched)"
           style="color: red">
        <span *ngIf="personForm.controls.name.errors?.required">
          Este campo es requerido
        </span>
      </div>
    </label>
    <br>

    <label>
      Apellido
      <input type="text" formControlName="lastName">

      <div *ngIf="personForm.controls.lastName.invalid && (personForm.controls.lastName.dirty || personForm.controls.lastName.touched)"
           style="color: red">
        <span *ngIf="personForm.controls.lastName.errors?.required">
          Este campo es requerido
        </span>
      </div>
    </label>

    <br>
    <label>
      Edad
      <input type="number" formControlName="age">

      <div *ngIf="personForm.controls.age.invalid && (personForm.controls.age.dirty || personForm.controls.age.touched)"
           style="color: red">
        <span *ngIf="personForm.controls.age.errors?.required">
          Este campo es requerido
        </span>

        <span *ngIf="personForm.controls.age.errors?.max">
          El numero ingresado supera el maximo
        </span>
      </div>
    </label>

    <br>
    <button type="submit" [disabled]="personForm.invalid" style="width: 220px; margin: auto;">Guardar</button>
  </form>
</div>
